@import 'nib'
@import './_defaults/_mixin'
@import './_layouts/_margin'

body
	font-size 14px
	line-height 1.5
	font-family "ヒラギノ角ゴ Pro W5", "メイリオ", Meiryo, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif, "ＭＳ Ｐゴシック", "MS Pゴシック", Osaka

.m-list-photos
	li
		width 20%
		a, img
			display block
			width 100%
			height auto
