@import 'nib'
@import './_defaults/_mixin'
@import './_layouts/_margin'

body
	font-size 14px
	line-height 1.5
	font-family "ヒラギノ角ゴ Pro W5", "メイリオ", Meiryo, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif, "ＭＳ Ｐゴシック", "MS Pゴシック", Osaka
	position relative

.m-list-sort
	position fixed
	top 0
	left 0
	width 100%
	background-color #fff
	li
		padding 10px


.m-list-photos
	padding-top 40px
	li
		width 20%
		margin-bottom 6px
		a
			margin-bottom 2px
		a, img
			display block
			width 100%
			height auto

.m-fz12
	font-size 12px
	line-height 1.2
