doctype html
html
head
    meta( charset="UTF-8" )
    link( rel="stylesheet", href="/public/css/style.css" )
    title MAP-APP
body( ng-app='App')
    div( ng-controller='mapController' )
    script( src='/public/javascripts/bundle.min.js' )
    
