doctype html
html
    head
        meta( charset="UTF-8" )
        link( rel="stylesheet", href="/css/index.css" )
        title MAP-APP
    body( ng-app='App' )
        div( ng-controller='MainController' )
            ul.l-center.m-list-sort
                
                li.l-idb
                    input( type='number', ng-model="farDistance" ).l-idb
                    .l-idb 緯度でソート

            ul.l-clr.m-list-photos
                li( ng-repeat='event in events | orderBy:sortExpression:reverse | filter: farDistance').l-left
                    a( ng-href="{{ event.link }}", target='_blank' )
                        img( ng-src="{{ event.imgSrc }}", alt="{{ event.title }}")
                    p.m-fz12 開始日: {{ event.eventStart }}
                    p.m-fz12 緯度: {{ event.cordinateX }}
                    p.m-fz12 経度: {{ event.cordinateY }}
        script( src='/javascripts/bundle.min.js' )
    
